In [34]:
#Import Libraries
import pandas as pd
import numpy as np
import json
import requests
import csv
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from math import ceil
import datetime
import calendar
from pandas_gbq import to_gbq
from google.cloud import bigquery

In [13]:
#function to load dataframe to bigquery
def load_dataframe_to_bigquery(df, full_table_id, project_id, if_exists='replace'):
    """
    Load a DataFrame to a Google BigQuery table and return a status message.

    Parameters:
    df (DataFrame): The pandas DataFrame to load.
    dataset_id (str): The dataset ID in BigQuery.
    table_id (str): The table ID within the dataset.
    project_id (str): Your Google Cloud project ID.
    if_exists (str): Action to take if the table already exists. Options are 'fail', 'replace', 'append'.

    Returns:
    str: Success or error message.
    """
    try:
        # Load the DataFrame to the BigQuery table
        to_gbq(df, full_table_id, project_id=project_id, if_exists=if_exists, progress_bar=True)

        # Optionally, check the number of rows in the BigQuery table
        client = bigquery.Client(project=project_id)
        query = f"SELECT COUNT(*) as total_rows FROM `{full_table_id}`"
        query_job = client.query(query)
        results = query_job.result()

        for row in results:
            total_rows = row.total_rows

        return f"Load successful. Total rows in the table now: {total_rows}"
    except Exception as e:
        return f"An error occurred: {str(e)}"

General Payment

In [2]:
CONNECTION_STRING_AZURE_STORAGE = 'DefaultEndpointsProtocol=https;AccountName=stcis4400spr24;AccountKey=rYko2OP7g7sVhOZyRDr7y+JAdH3ssWiHuFU3So58w0ub02d1REAvapF3LbW4jZKdfBJhgTEEa4wg+AStBaZT1w==;EndpointSuffix=core.windows.net'
CONTAINER_AZURE = 'generalpaymentdata'

# Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string (CONNECTION_STRING_AZURE_STORAGE)
# Get the container client
container_client = blob_service_client.get_container_client (CONTAINER_AZURE)

df_generalpaymentdata = pd.DataFrame()

# List all blobs in the speciffed container
blob_list = container_client.list_blobs ()
for blob in blob_list:
  print (blob.name)
  blob_client = container_client.get_blob_client (blob=blob.name)
  blob_data = blob_client.download_blob()
  blob_content = blob_data.readall().decode('utf-8')
  df = pd.read_csv(StringIO(blob_content))
  # Display the head of the DataFrame
  print (df.shape)
  # sind I have only one csv, I am doing to do the following instructions
  df_generalpaymentdata = df.copy()

/Users/nicolerodriguez/cis4400 group project/Cis4400-project/docs/OP_DTL_GNRL_PGYR2022_P01182024.csv

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6884\4099191409.py:18: DtypeWarning: Columns (4,8,10,12,15,17,18,20,21,22,23,24,26,32,33,34,35,39,46,47,48,51,52,53,54,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(blob_content))

(13151823, 91)

In [19]:
df_generalpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151823 entries, 0 to 13151822
Data columns (total 91 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   Change_Type                                                        object
 1   Covered_Recipient_Type                                             object
 2   Teaching_Hospital_CCN                                              float64
 3   Teaching_Hospital_ID                                               float64
 4   Teaching_Hospital_Name                                             object
 5   Covered_Recipient_Profile_ID                                       float64
 6   Covered_Recipient_NPI                                              float64
 7   Covered_Recipient_First_Name                                       object
 8   Covered_Recipient_Middle_Name                                      object
 9   Covered_Recipient_Last_Name                                        object
 10  Covered_Recipient_Name_Suffix                                      object
 11  Recipient_Primary_Business_Street_Address_Line1                    object
 12  Recipient_Primary_Business_Street_Address_Line2                    object
 13  Recipient_City                                                     object
 14  Recipient_State                                                    object
 15  Recipient_Zip_Code                                                 object
 16  Recipient_Country                                                  object
 17  Recipient_Province                                                 object
 18  Recipient_Postal_Code                                              object
 19  Covered_Recipient_Primary_Type_1                                   object
 20  Covered_Recipient_Primary_Type_2                                   object
 21  Covered_Recipient_Primary_Type_3                                   object
 22  Covered_Recipient_Primary_Type_4                                   object
 23  Covered_Recipient_Primary_Type_5                                   object
 24  Covered_Recipient_Primary_Type_6                                   object
 25  Covered_Recipient_Specialty_1                                      object
 26  Covered_Recipient_Specialty_2                                      object
 27  Covered_Recipient_Specialty_3                                      float64
 28  Covered_Recipient_Specialty_4                                      float64
 29  Covered_Recipient_Specialty_5                                      float64
 30  Covered_Recipient_Specialty_6                                      float64
 31  Covered_Recipient_License_State_code1                              object
 32  Covered_Recipient_License_State_code2                              object
 33  Covered_Recipient_License_State_code3                              object
 34  Covered_Recipient_License_State_code4                              object
 35  Covered_Recipient_License_State_code5                              object
 36  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name          object
 37  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID        int64
 38  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name      object
 39  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State     object
 40  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country   object
 41  Total_Amount_of_Payment_USDollars                                  float64
 42  Date_of_Payment                                                    object
 43  Number_of_Payments_Included_in_Total_Amount                        int64
 44  Form_of_Payment_or_Transfer_of_Value                               object
 45  Nature_of_Payment_or_Transfer_of_Value                             object
 46  City_of_Travel                                                     object
 47  State_of_Travel                                                    object
 48  Country_of_Travel                                                  object
 49  Physician_Ownership_Indicator                                      object
 50  Third_Party_Payment_Recipient_Indicator                            object
 51  Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value  object
 52  Charity_Indicator                                                  object
 53  Third_Party_Equals_Covered_Recipient_Indicator                     object
 54  Contextual_Information                                             object
 55  Delay_in_Publication_Indicator                                     object
 56  Record_ID                                                          int64
 57  Dispute_Status_for_Publication                                     object
 58  Related_Product_Indicator                                          object
 59  Covered_or_Noncovered_Indicator_1                                  object
 60  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1          object
 61  Product_Category_or_Therapeutic_Area_1                             object
 62  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1           object
 63  Associated_Drug_or_Biological_NDC_1                                object
 64  Associated_Device_or_Medical_Supply_PDI_1                          object
 65  Covered_or_Noncovered_Indicator_2                                  object
 66  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2          object
 67  Product_Category_or_Therapeutic_Area_2                             object
 68  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2           object
 69  Associated_Drug_or_Biological_NDC_2                                object
 70  Associated_Device_or_Medical_Supply_PDI_2                          object
 71  Covered_or_Noncovered_Indicator_3                                  object
 72  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3          object
 73  Product_Category_or_Therapeutic_Area_3                             object
 74  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3           object
 75  Associated_Drug_or_Biological_NDC_3                                object
 76  Associated_Device_or_Medical_Supply_PDI_3                          object
 77  Covered_or_Noncovered_Indicator_4                                  object
 78  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4          object
 79  Product_Category_or_Therapeutic_Area_4                             object
 80  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4           object
 81  Associated_Drug_or_Biological_NDC_4                                object
 82  Associated_Device_or_Medical_Supply_PDI_4                          object
 83  Covered_or_Noncovered_Indicator_5                                  object
 84  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5          object
 85  Product_Category_or_Therapeutic_Area_5                             object
 86  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5           object
 87  Associated_Drug_or_Biological_NDC_5                                object
 88  Associated_Device_or_Medical_Supply_PDI_5                          object
 89  Program_Year                                                       int64
 90  Payment_Publication_Date                                           object
dtypes: float64(9), int64(4), object(78)
memory usage: 8.9+ GB

In [20]:
df_generalpaymentdata.head()

,Change_Type,Covered_Recipient_Type,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Covered_Recipient_Profile_ID,Covered_Recipient_NPI,Covered_Recipient_First_Name,Covered_Recipient_Middle_Name,Covered_Recipient_Last_Name,...,Associated_Drug_or_Biological_NDC_4,Associated_Device_or_Medical_Supply_PDI_4,Covered_or_Noncovered_Indicator_5,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5,Product_Category_or_Therapeutic_Area_5,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5,Associated_Drug_or_Biological_NDC_5,Associated_Device_or_Medical_Supply_PDI_5,Program_Year,Payment_Publication_Date
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1357816.0,1.154649e+09,JUSTIN,NaN,MITCHELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,01/18/2024
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1358188.0,1.588059e+09,RAVI,NaN,PATEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,01/18/2024
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,1358188.0,1.588059e+09,RAVI,NaN,PATEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,01/18/2024
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,4218571.0,1.609230e+09,JACOB,NaN,PFEIFFER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,01/18/2024
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,5705160.0,1.740774e+09,JEREMY,MICHAEL,PHILIPSEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,01/18/2024

In [21]:
#drop the empty rows and columns
df_generalpaymentdata = df_generalpaymentdata.dropna(axis=1, how='all')
df_generalpaymentdata = df_generalpaymentdata.dropna(axis=0, how='all')
df_generalpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151823 entries, 0 to 13151822
Data columns (total 87 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   Change_Type                                                        object
 1   Covered_Recipient_Type                                             object
 2   Teaching_Hospital_CCN                                              float64
 3   Teaching_Hospital_ID                                               float64
 4   Teaching_Hospital_Name                                             object
 5   Covered_Recipient_Profile_ID                                       float64
 6   Covered_Recipient_NPI                                              float64
 7   Covered_Recipient_First_Name                                       object
 8   Covered_Recipient_Middle_Name                                      object
 9   Covered_Recipient_Last_Name                                        object
 10  Covered_Recipient_Name_Suffix                                      object
 11  Recipient_Primary_Business_Street_Address_Line1                    object
 12  Recipient_Primary_Business_Street_Address_Line2                    object
 13  Recipient_City                                                     object
 14  Recipient_State                                                    object
 15  Recipient_Zip_Code                                                 object
 16  Recipient_Country                                                  object
 17  Recipient_Province                                                 object
 18  Recipient_Postal_Code                                              object
 19  Covered_Recipient_Primary_Type_1                                   object
 20  Covered_Recipient_Primary_Type_2                                   object
 21  Covered_Recipient_Primary_Type_3                                   object
 22  Covered_Recipient_Primary_Type_4                                   object
 23  Covered_Recipient_Primary_Type_5                                   object
 24  Covered_Recipient_Primary_Type_6                                   object
 25  Covered_Recipient_Specialty_1                                      object
 26  Covered_Recipient_Specialty_2                                      object
 27  Covered_Recipient_License_State_code1                              object
 28  Covered_Recipient_License_State_code2                              object
 29  Covered_Recipient_License_State_code3                              object
 30  Covered_Recipient_License_State_code4                              object
 31  Covered_Recipient_License_State_code5                              object
 32  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name          object
 33  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID        int64
 34  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name      object
 35  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State     object
 36  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country   object
 37  Total_Amount_of_Payment_USDollars                                  float64
 38  Date_of_Payment                                                    object
 39  Number_of_Payments_Included_in_Total_Amount                        int64
 40  Form_of_Payment_or_Transfer_of_Value                               object
 41  Nature_of_Payment_or_Transfer_of_Value                             object
 42  City_of_Travel                                                     object
 43  State_of_Travel                                                    object
 44  Country_of_Travel                                                  object
 45  Physician_Ownership_Indicator                                      object
 46  Third_Party_Payment_Recipient_Indicator                            object
 47  Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value  object
 48  Charity_Indicator                                                  object
 49  Third_Party_Equals_Covered_Recipient_Indicator                     object
 50  Contextual_Information                                             object
 51  Delay_in_Publication_Indicator                                     object
 52  Record_ID                                                          int64
 53  Dispute_Status_for_Publication                                     object
 54  Related_Product_Indicator                                          object
 55  Covered_or_Noncovered_Indicator_1                                  object
 56  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1          object
 57  Product_Category_or_Therapeutic_Area_1                             object
 58  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1           object
 59  Associated_Drug_or_Biological_NDC_1                                object
 60  Associated_Device_or_Medical_Supply_PDI_1                          object
 61  Covered_or_Noncovered_Indicator_2                                  object
 62  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2          object
 63  Product_Category_or_Therapeutic_Area_2                             object
 64  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2           object
 65  Associated_Drug_or_Biological_NDC_2                                object
 66  Associated_Device_or_Medical_Supply_PDI_2                          object
 67  Covered_or_Noncovered_Indicator_3                                  object
 68  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3          object
 69  Product_Category_or_Therapeutic_Area_3                             object
 70  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3           object
 71  Associated_Drug_or_Biological_NDC_3                                object
 72  Associated_Device_or_Medical_Supply_PDI_3                          object
 73  Covered_or_Noncovered_Indicator_4                                  object
 74  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4          object
 75  Product_Category_or_Therapeutic_Area_4                             object
 76  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4           object
 77  Associated_Drug_or_Biological_NDC_4                                object
 78  Associated_Device_or_Medical_Supply_PDI_4                          object
 79  Covered_or_Noncovered_Indicator_5                                  object
 80  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5          object
 81  Product_Category_or_Therapeutic_Area_5                             object
 82  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5           object
 83  Associated_Drug_or_Biological_NDC_5                                object
 84  Associated_Device_or_Medical_Supply_PDI_5                          object
 85  Program_Year                                                       int64
 86  Payment_Publication_Date                                           object
dtypes: float64(5), int64(4), object(78)
memory usage: 8.5+ GB

In [22]:
#only keep the column needed
df_generalpaymentdata = df_generalpaymentdata[['Total_Amount_of_Payment_USDollars','Date_of_Payment',
                                              'Number_of_Payments_Included_in_Total_Amount',
                                              'Form_of_Payment_or_Transfer_of_Value',
                                              'Physician_Ownership_Indicator',
                                              'Program_Year',
                                              'Payment_Publication_Date',
                                              'Covered_Recipient_First_Name',
                                              'Covered_Recipient_Middle_Name',
                                              'Covered_Recipient_Last_Name',
                                              'Covered_Recipient_Primary_Type_1',
                                              'Covered_Recipient_Specialty_1',
                                              'Covered_Recipient_License_State_code1',
                                              'Nature_of_Payment_or_Transfer_of_Value',
                                              'Teaching_Hospital_ID',
                                              'Teaching_Hospital_Name',
                                              'Recipient_Primary_Business_Street_Address_Line1',
                                              'Recipient_City',
                                              'Recipient_State',
                                              'Recipient_Zip_Code']]
df_generalpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151823 entries, 0 to 13151822
Data columns (total 20 columns):
 #   Column                                           Dtype
---  ------                                           -----
 0   Total_Amount_of_Payment_USDollars                float64
 1   Date_of_Payment                                  object
 2   Number_of_Payments_Included_in_Total_Amount      int64
 3   Form_of_Payment_or_Transfer_of_Value             object
 4   Physician_Ownership_Indicator                    object
 5   Program_Year                                     int64
 6   Payment_Publication_Date                         object
 7   Covered_Recipient_First_Name                     object
 8   Covered_Recipient_Middle_Name                    object
 9   Covered_Recipient_Last_Name                      object
 10  Covered_Recipient_Primary_Type_1                 object
 11  Covered_Recipient_Specialty_1                    object
 12  Covered_Recipient_License_State_code1            object
 13  Nature_of_Payment_or_Transfer_of_Value           object
 14  Teaching_Hospital_ID                             float64
 15  Teaching_Hospital_Name                           object
 16  Recipient_Primary_Business_Street_Address_Line1  object
 17  Recipient_City                                   object
 18  Recipient_State                                  object
 19  Recipient_Zip_Code                               object
dtypes: float64(2), int64(2), object(16)
memory usage: 2.0+ GB

In [24]:
#assign the data type
df_generalpaymentdata['Date_of_Payment'] = pd.to_datetime(df_generalpaymentdata['Date_of_Payment'])
df_generalpaymentdata['Payment_Publication_Date'] = pd.to_datetime(df_generalpaymentdata['Payment_Publication_Date'])
df_generalpaymentdata['Teaching_Hospital_ID'] = df_generalpaymentdata['Teaching_Hospital_ID'].round().astype('Int64')

data_types = {
    'Total_Amount_of_Payment_USDollars': 'float',
    'Number_of_Payments_Included_in_Total_Amount': 'int',
    'Program_Year': 'int',
}

# Convert all 'object' type columns to 'string' type
for column, dtype in df_generalpaymentdata.dtypes.items():
    if dtype == 'object':
        data_types[column] = 'string'

# Apply the transformations
df_generalpaymentdata = df_generalpaymentdata.astype(data_types)

df_generalpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151823 entries, 0 to 13151822
Data columns (total 20 columns):
 #   Column                                           Dtype
---  ------                                           -----
 0   Total_Amount_of_Payment_USDollars                float64
 1   Date_of_Payment                                  datetime64[ns]
 2   Number_of_Payments_Included_in_Total_Amount      int32
 3   Form_of_Payment_or_Transfer_of_Value             string
 4   Physician_Ownership_Indicator                    string
 5   Program_Year                                     int32
 6   Payment_Publication_Date                         datetime64[ns]
 7   Covered_Recipient_First_Name                     string
 8   Covered_Recipient_Middle_Name                    string
 9   Covered_Recipient_Last_Name                      string
 10  Covered_Recipient_Primary_Type_1                 string
 11  Covered_Recipient_Specialty_1                    string
 12  Covered_Recipient_License_State_code1            string
 13  Nature_of_Payment_or_Transfer_of_Value           string
 14  Teaching_Hospital_ID                             Int64
 15  Teaching_Hospital_Name                           string
 16  Recipient_Primary_Business_Street_Address_Line1  string
 17  Recipient_City                                   string
 18  Recipient_State                                  string
 19  Recipient_Zip_Code                               string
dtypes: Int64(1), datetime64[ns](2), float64(1), int32(2), string(14)
memory usage: 1.9 GB

In [25]:
# Creating Dimension Tables
# Dim Covered Recipient
dim_covered_recipient = df_generalpaymentdata[['Covered_Recipient_First_Name', 'Covered_Recipient_Middle_Name',
                            'Covered_Recipient_Last_Name', 'Covered_Recipient_Primary_Type_1',
                            'Covered_Recipient_Specialty_1', 'Covered_Recipient_License_State_code1']].drop_duplicates().dropna(how='all').reset_index(drop=True)
dim_covered_recipient['dim_Covered_Recipient_ID'] = range(1, len(dim_covered_recipient) + 1)

# Dim Teaching Hospital
dim_teaching_hospital = df_generalpaymentdata[['Teaching_Hospital_ID', 'Teaching_Hospital_Name',
                            'Recipient_Primary_Business_Street_Address_Line1', 'Recipient_City',
                            'Recipient_State', 'Recipient_Zip_Code']].drop_duplicates().dropna(how='all').reset_index(drop=True)
dim_teaching_hospital['dim_Teaching_Hospital_ID'] = range(1, len(dim_teaching_hospital) + 1)

# Dim Payment Detail
dim_payment_detail = df_generalpaymentdata[['Date_of_Payment', 'Program_Year', 'Payment_Publication_Date', 
                         'Form_of_Payment_or_Transfer_of_Value', 'Nature_of_Payment_or_Transfer_of_Value']].drop_duplicates().dropna(how='all').reset_index(drop=True)
dim_payment_detail['dim_Payment_Detail_ID'] = range(1, len(dim_payment_detail) + 1)

# Creating mappings
covered_recipient_mapping = dim_covered_recipient.set_index(['Covered_Recipient_First_Name', 'Covered_Recipient_Middle_Name',
                                                             'Covered_Recipient_Last_Name', 'Covered_Recipient_Primary_Type_1',
                                                             'Covered_Recipient_Specialty_1', 'Covered_Recipient_License_State_code1'])['dim_Covered_Recipient_ID']

teaching_hospital_mapping = dim_teaching_hospital.set_index(['Teaching_Hospital_ID', 'Teaching_Hospital_Name',
                                                             'Recipient_Primary_Business_Street_Address_Line1', 'Recipient_City',
                                                             'Recipient_State', 'Recipient_Zip_Code'])['dim_Teaching_Hospital_ID']

payment_detail_mapping = dim_payment_detail.set_index(['Date_of_Payment', 'Program_Year', 'Payment_Publication_Date', 
                                                       'Form_of_Payment_or_Transfer_of_Value', 'Nature_of_Payment_or_Transfer_of_Value'])['dim_Payment_Detail_ID']

# Map IDs to the Fact Table
df_generalpaymentdata['dim_Covered_Recipient_ID'] = df_generalpaymentdata.set_index(['Covered_Recipient_First_Name', 'Covered_Recipient_Middle_Name',
                                               'Covered_Recipient_Last_Name', 'Covered_Recipient_Primary_Type_1',
                                               'Covered_Recipient_Specialty_1', 'Covered_Recipient_License_State_code1']).index.map(covered_recipient_mapping).astype('Int64')

df_generalpaymentdata['dim_Teaching_Hospital_ID'] = df_generalpaymentdata.set_index(['Teaching_Hospital_ID', 'Teaching_Hospital_Name',
                                               'Recipient_Primary_Business_Street_Address_Line1', 'Recipient_City',
                                               'Recipient_State', 'Recipient_Zip_Code']).index.map(teaching_hospital_mapping).astype('Int64')

df_generalpaymentdata['dim_Payment_Detail_ID'] = df_generalpaymentdata.set_index(['Date_of_Payment', 'Program_Year', 'Payment_Publication_Date', 
                                            'Form_of_Payment_or_Transfer_of_Value', 'Nature_of_Payment_or_Transfer_of_Value']).index.map(payment_detail_mapping).astype('Int64')

# Fact General Payments Table
fact_general_payments = df_generalpaymentdata[['Total_Amount_of_Payment_USDollars', 
                 'Number_of_Payments_Included_in_Total_Amount', 
                 'Physician_Ownership_Indicator',
                 'dim_Covered_Recipient_ID',
                 'dim_Teaching_Hospital_ID',
                 'dim_Payment_Detail_ID']].copy()
fact_general_payments['Fact_id'] = range(1, len(fact_general_payments) + 1)

print(dim_covered_recipient.info())
print(dim_teaching_hospital.info())
print(dim_payment_detail.info())
print(fact_general_payments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822468 entries, 0 to 1822467
Data columns (total 7 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   Covered_Recipient_First_Name           string
 1   Covered_Recipient_Middle_Name          string
 2   Covered_Recipient_Last_Name            string
 3   Covered_Recipient_Primary_Type_1       string
 4   Covered_Recipient_Specialty_1          string
 5   Covered_Recipient_License_State_code1  string
 6   dim_Covered_Recipient_ID               int64
dtypes: int64(1), string(6)
memory usage: 97.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951229 entries, 0 to 951228
Data columns (total 7 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   Teaching_Hospital_ID                             4047 non-null    Int64
 1   Teaching_Hospital_Name                           4047 non-null    string
 2   Recipient_Primary_Business_Street_Address_Line1  951180 non-null  string
 3   Recipient_City                                   951228 non-null  string
 4   Recipient_State                                  951088 non-null  string
 5   Recipient_Zip_Code                               951088 non-null  string
 6   dim_Teaching_Hospital_ID                         951229 non-null  int64
dtypes: Int64(1), int64(1), string(5)
memory usage: 51.7 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8578 entries, 0 to 8577
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date_of_Payment                         8578 non-null   datetime64[ns]
 1   Program_Year                            8578 non-null   int32
 2   Payment_Publication_Date                8578 non-null   datetime64[ns]
 3   Form_of_Payment_or_Transfer_of_Value    8578 non-null   string
 4   Nature_of_Payment_or_Transfer_of_Value  8578 non-null   string
 5   dim_Payment_Detail_ID                   8578 non-null   int64
dtypes: datetime64[ns](2), int32(1), int64(1), string(2)
memory usage: 368.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151823 entries, 0 to 13151822
Data columns (total 7 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   Total_Amount_of_Payment_USDollars            float64
 1   Number_of_Payments_Included_in_Total_Amount  int32
 2   Physician_Ownership_Indicator                string
 3   dim_Covered_Recipient_ID                     float64
 4   dim_Teaching_Hospital_ID                     int64
 5   dim_Payment_Detail_ID                        int64
 6   Fact_id                                      int64
dtypes: float64(2), int32(1), int64(3), string(1)
memory usage: 652.2 MB
None

In [26]:
dim_covered_recipient.head()

,Covered_Recipient_First_Name,Covered_Recipient_Middle_Name,Covered_Recipient_Last_Name,Covered_Recipient_Primary_Type_1,Covered_Recipient_Specialty_1,Covered_Recipient_License_State_code1,dim_Covered_Recipient_ID
0,JUSTIN,<NA>,MITCHELL,Medical Doctor,Allopathic & Osteopathic Physicians|Orthopaedi...,IA,1
1,RAVI,<NA>,PATEL,Medical Doctor,Allopathic & Osteopathic Physicians|Orthopaedi...,IL,2
2,JACOB,<NA>,PFEIFFER,Doctor of Osteopathy,Allopathic & Osteopathic Physicians|Orthopaedi...,WI,3
3,JEREMY,MICHAEL,PHILIPSEN,Doctor of Podiatric Medicine,Podiatric Medicine & Surgery Service Providers...,WI,4
4,ERIC,B,PIFEL,Medical Doctor,Allopathic & Osteopathic Physicians|Orthopaedi...,WI,5

In [27]:
dim_teaching_hospital.head()

,Teaching_Hospital_ID,Teaching_Hospital_Name,Recipient_Primary_Business_Street_Address_Line1,Recipient_City,Recipient_State,Recipient_Zip_Code,dim_Teaching_Hospital_ID
0,<NA>,<NA>,3111 GUNDERSEN DR,ONALASKA,WI,54650-8447,1
1,<NA>,<NA>,420 N IL ROUTE 31,CRYSTAL LAKE,IL,60012-3709,2
2,<NA>,<NA>,8700 WATERTOWN PLANK RD,MILWAUKEE,WI,53226-3595,3
3,<NA>,<NA>,2835 N GRANDVIEW BLVD STE 300,PEWAUKEE,WI,53072-5591,4
4,<NA>,<NA>,3077 N MAYFAIR RD STE 100,WAUWATOSA,WI,53222-4305,5

In [28]:
dim_payment_detail.head()

,Date_of_Payment,Program_Year,Payment_Publication_Date,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,dim_Payment_Detail_ID
0,2022-01-22,2022,2024-01-18,In-kind items and services,Food and Beverage,1
1,2022-09-06,2022,2024-01-18,In-kind items and services,Education,2
2,2022-09-06,2022,2024-01-18,In-kind items and services,Food and Beverage,3
3,2022-09-26,2022,2024-01-18,In-kind items and services,Food and Beverage,4
4,2022-01-27,2022,2024-01-18,In-kind items and services,Food and Beverage,5

In [29]:
fact_general_payments.head()

,Total_Amount_of_Payment_USDollars,Number_of_Payments_Included_in_Total_Amount,Physician_Ownership_Indicator,dim_Covered_Recipient_ID,dim_Teaching_Hospital_ID,dim_Payment_Detail_ID,Fact_id
0,124.14,1,No,1.0,1,1,1
1,1200.00,1,No,2.0,2,2,2
2,7.46,1,No,2.0,2,3,3
3,12.79,1,No,3.0,3,4,4
4,53.33,1,No,4.0,4,5,5

In [35]:
result = load_dataframe_to_bigquery(dim_covered_recipient, 'cis_4400_group_3.Dim_Covered_Recipient', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 1822468

In [36]:
result = load_dataframe_to_bigquery(dim_teaching_hospital, 'cis_4400_group_3.Dim_Teaching_Hospital', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 951229

In [37]:
result = load_dataframe_to_bigquery(dim_payment_detail, 'cis_4400_group_3.Dim_Payment_detail', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 8578

In [40]:
result = load_dataframe_to_bigquery(fact_general_payments, 'cis_4400_group_3.Fact_General_Payments', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 13151823

Ownership payment

In [67]:
CONNECTION_STRING_AZURE_STORAGE = 'DefaultEndpointsProtocol=https;AccountName=stcis4400spr24;AccountKey=rYko2OP7g7sVhOZyRDr7y+JAdH3ssWiHuFU3So58w0ub02d1REAvapF3LbW4jZKdfBJhgTEEa4wg+AStBaZT1w==;EndpointSuffix=core.windows.net'
CONTAINER_AZURE = 'ownershippaymentdata'

# Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string (CONNECTION_STRING_AZURE_STORAGE)
# Get the container client
container_client = blob_service_client.get_container_client (CONTAINER_AZURE)

df_ownershippaymentdata = pd.DataFrame()

# List all blobs in the speciffed container
blob_list = container_client.list_blobs ()
for blob in blob_list:
  print (blob.name)
  blob_client = container_client.get_blob_client (blob=blob.name)
  blob_data = blob_client.download_blob()
  blob_content = blob_data.readall().decode('utf-8')
  df = pd.read_csv(StringIO(blob_content))
  # Display the head of the DataFrame
  print (df.shape)
  # sind I have only one csv, I am doing to do the following instructions
  df_ownershippaymentdata = df.copy()

/content/OP_DTL_OWNRSHP_PGYR2022_P01182024 (1).csv
(3916, 30)

In [68]:
df_ownershippaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 30 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Change_Type                                                       3916 non-null   object
 1   Physician_Profile_ID                                              3916 non-null   int64
 2   Physician_NPI                                                     3913 non-null   float64
 3   Physician_First_Name                                              3916 non-null   object
 4   Physician_Middle_Name                                             1414 non-null   object
 5   Physician_Last_Name                                               3916 non-null   object
 6   Physician_Name_Suffix                                             149 non-null    object
 7   Recipient_Primary_Business_Street_Address_Line1                   3916 non-null   object
 8   Recipient_Primary_Business_Street_Address_Line2                   1844 non-null   object
 9   Recipient_City                                                    3916 non-null   object
 10  Recipient_State                                                   3915 non-null   object
 11  Recipient_Zip_Code                                                3915 non-null   object
 12  Recipient_Country                                                 3916 non-null   object
 13  Recipient_Province                                                1 non-null      object
 14  Recipient_Postal_Code                                             1 non-null      float64
 15  Physician_Primary_Type                                            3916 non-null   object
 16  Physician_Specialty                                               3916 non-null   object
 17  Record_ID                                                         3916 non-null   int64
 18  Program_Year                                                      3916 non-null   int64
 19  Total_Amount_Invested_USDollars                                   3916 non-null   float64
 20  Value_of_Interest                                                 3916 non-null   float64
 21  Terms_of_Interest                                                 3883 non-null   object
 22  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name         3916 non-null   object
 23  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID       3916 non-null   int64
 24  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name     3916 non-null   object
 25  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State    3883 non-null   object
 26  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country  3916 non-null   object
 27  Dispute_Status_for_Publication                                    3916 non-null   object
 28  Interest_Held_by_Physician_or_an_Immediate_Family_Member          3916 non-null   object
 29  Payment_Publication_Date                                          3916 non-null   object
dtypes: float64(4), int64(4), object(22)
memory usage: 917.9+ KB

In [69]:
df_ownershippaymentdata.head()

,Change_Type,Physician_Profile_ID,Physician_NPI,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,...,Value_of_Interest,Terms_of_Interest,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication,Interest_Held_by_Physician_or_an_Immediate_Family_Member,Payment_Publication_Date
0,UNCHANGED,835160,1.588622e+09,ELIZABETH,A,STEWART,NaN,200 1ST ST SW,CHARLTON 3A,ROCHESTER,...,28.13,Investment,"Gynesonics, Inc.",100000216788,"Gynesonics, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024
1,UNCHANGED,40572,1.891791e+09,Eric,NaN,Donnenfeld,NaN,711 Stewart Ave. Ste 160,NaN,Garden City,...,50000.00,Preferred Stock,"TearOptix, Inc.",100000971876,"TearOptix, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024
2,UNCHANGED,1175626,1.538509e+09,DAVID,GREGORY,WEINBERG,NaN,2776 CLEVELAND AVE,NaN,FORT MYERS,...,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,01/18/2024
3,UNCHANGED,229524,1.073615e+09,JED,J,WEINBERG,NaN,200 WEST CARVER ST,NaN,HUNTINGTON,...,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,01/18/2024
4,UNCHANGED,276414,1.104889e+09,Andrew,NaN,Beros,NaN,3811 Valley Centre Drive,NaN,San Diego,...,150935.00,Series A Preferred Stock; Series B Preferred S...,"Calyxo, Inc.",100000786821,"Calyxo, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024

In [70]:
df_ownershippaymentdata.drop(columns=["Physician_Middle_Name", "Physician_Name_Suffix", "Recipient_Province", "Recipient_Postal_Code"], inplace=True)
df_ownershippaymentdata = df_ownershippaymentdata.dropna(axis=0, how='all')
df_ownershippaymentdata = df_ownershippaymentdata.dropna(axis=1, how='all')
df_ownershippaymentdata.head()

,Change_Type,Physician_Profile_ID,Physician_NPI,Physician_First_Name,Physician_Last_Name,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,Recipient_State,Recipient_Zip_Code,...,Value_of_Interest,Terms_of_Interest,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication,Interest_Held_by_Physician_or_an_Immediate_Family_Member,Payment_Publication_Date
0,UNCHANGED,835160,1.588622e+09,ELIZABETH,STEWART,200 1ST ST SW,CHARLTON 3A,ROCHESTER,MN,55905-0001,...,28.13,Investment,"Gynesonics, Inc.",100000216788,"Gynesonics, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024
1,UNCHANGED,40572,1.891791e+09,Eric,Donnenfeld,711 Stewart Ave. Ste 160,NaN,Garden City,NY,11530,...,50000.00,Preferred Stock,"TearOptix, Inc.",100000971876,"TearOptix, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024
2,UNCHANGED,1175626,1.538509e+09,DAVID,WEINBERG,2776 CLEVELAND AVE,NaN,FORT MYERS,FL,33901-5864,...,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,01/18/2024
3,UNCHANGED,229524,1.073615e+09,JED,WEINBERG,200 WEST CARVER ST,NaN,HUNTINGTON,NY,11743,...,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,01/18/2024
4,UNCHANGED,276414,1.104889e+09,Andrew,Beros,3811 Valley Centre Drive,NaN,San Diego,CA,92130,...,150935.00,Series A Preferred Stock; Series B Preferred S...,"Calyxo, Inc.",100000786821,"Calyxo, Inc.",CA,United States,No,Physician Covered Recipient,01/18/2024

In [71]:
# Mapping dictionary
change_type_dict = {
    'NEW': 'Records added from the end of the previous submission deadline',
    'ADDED': 'Records that were not eligible at the time of previous publication, which is eligible for current publication',
    'CHANGED': 'Previously published records modified after the last publication',
    'UNCHANGED': 'Previously published records that remain “unchanged” in current publication'
}
unique_change_type = df_ownershippaymentdata['Change_Type'].unique()
# Converting the array of unique values into a DataFrame
unique_change_type_df = pd.DataFrame(unique_change_type, columns=['Record_ID'])
# Applying the mapping to create a new column with descriptions
unique_change_type_df ['Change_Type'] = unique_change_type_df['Record_ID'].map(change_type_dict)
unique_change_type_df = unique_change_type_df [unique_change_type_df['Record_ID'] != '<NA>']

unique_change_type_df

   Record_ID                                        Change_Type
0  UNCHANGED  Previously published records that remain “unch...
1    CHANGED  Previously published records modified after th...
2        NEW  Records added from the end of the previous sub...

In [74]:
#assign data type
df_ownershippaymentdata['Payment_Publication_Date'] = pd.to_datetime(df_ownershippaymentdata['Payment_Publication_Date'])

data_types = {'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID':'string'}

for column, dtype in df_ownershippaymentdata.dtypes.items():
    if dtype == 'object':
        data_types[column] = 'string'
        
df_ownershippaymentdata = df_ownershippaymentdata.astype(data_types)

In [75]:
Dim_Physician = df_ownershippaymentdata[['Physician_Profile_ID',
                             'Physician_First_Name', 'Physician_Last_Name',
                             'Physician_Primary_Type', 'Physician_Specialty']].drop_duplicates()
Dim_Physician.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3613 entries, 0 to 3915
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Physician_Profile_ID    3613 non-null   int64
 1   Physician_First_Name    3613 non-null   string
 2   Physician_Last_Name     3613 non-null   string
 3   Physician_Primary_Type  3613 non-null   string
 4   Physician_Specialty     3613 non-null   string
dtypes: int64(1), string(4)
memory usage: 169.4 KB

In [76]:
Dim_Recipient = df_ownershippaymentdata[['Recipient_Primary_Business_Street_Address_Line1',
                             'Recipient_City', 'Recipient_State',
                             'Recipient_Zip_Code', 'Recipient_Country']].drop_duplicates()
Dim_Recipient.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2202 entries, 0 to 3915
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Recipient_Primary_Business_Street_Address_Line1  2202 non-null   string
 1   Recipient_City                                   2202 non-null   string
 2   Recipient_State                                  2201 non-null   string
 3   Recipient_Zip_Code                               2201 non-null   string
 4   Recipient_Country                                2202 non-null   string
dtypes: string(5)
memory usage: 103.2 KB

In [77]:
Dim_Payment_Details = df_ownershippaymentdata[['Record_ID',
                             'Program_Year']].drop_duplicates()
Dim_Payment_Details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Record_ID     3916 non-null   int64
 1   Program_Year  3916 non-null   int64
dtypes: int64(2)
memory usage: 61.3 KB

In [78]:
fact_ownership_payment = df_ownershippaymentdata[['Record_ID','Physician_Profile_ID', 'Total_Amount_Invested_USDollars', 'Value_of_Interest', 'Terms_of_Interest', 'Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name', 'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID', 'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name', 'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State', 'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country', 'Dispute_Status_for_Publication', 'Interest_Held_by_Physician_or_an_Immediate_Family_Member', 'Payment_Publication_Date']].drop_duplicates()
fact_ownership_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 13 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Record_ID                                                         3916 non-null   int64
 1   Physician_Profile_ID                                              3916 non-null   int64
 2   Total_Amount_Invested_USDollars                                   3916 non-null   float64
 3   Value_of_Interest                                                 3916 non-null   float64
 4   Terms_of_Interest                                                 3883 non-null   string
 5   Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name         3916 non-null   string
 6   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID       3916 non-null   string
 7   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name     3916 non-null   string
 8   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State    3883 non-null   string
 9   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country  3916 non-null   string
 10  Dispute_Status_for_Publication                                    3916 non-null   string
 11  Interest_Held_by_Physician_or_an_Immediate_Family_Member          3916 non-null   string
 12  Payment_Publication_Date                                          3916 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), string(8)
memory usage: 397.8 KB

In [79]:
Dim_Physician.head()

,Physician_Profile_ID,Physician_First_Name,Physician_Last_Name,Physician_Primary_Type,Physician_Specialty
0,835160,ELIZABETH,STEWART,Medical Doctor,Allopathic & Osteopathic Physicians|Obstetrics...
1,40572,Eric,Donnenfeld,Medical Doctor,Allopathic & Osteopathic Physicians|Ophthalmology
2,1175626,DAVID,WEINBERG,Medical Doctor,Allopathic & Osteopathic Physicians|Emergency ...
3,229524,JED,WEINBERG,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...
4,276414,Andrew,Beros,Medical Doctor,Allopathic & Osteopathic Physicians|Otolaryngo...

In [80]:
Dim_Recipient.head()

,Recipient_Primary_Business_Street_Address_Line1,Recipient_City,Recipient_State,Recipient_Zip_Code,Recipient_Country
0,200 1ST ST SW,ROCHESTER,MN,55905-0001,United States
1,711 Stewart Ave. Ste 160,Garden City,NY,11530,United States
2,2776 CLEVELAND AVE,FORT MYERS,FL,33901-5864,United States
3,200 WEST CARVER ST,HUNTINGTON,NY,11743,United States
4,3811 Valley Centre Drive,San Diego,CA,92130,United States

In [81]:
Dim_Payment_Details.head()

   Record_ID  Program_Year
0  957788543          2022
1  957789753          2022
2  957800853          2022
3  957800855          2022
4  957887773          2022

In [82]:
fact_ownership_payment.head()

,Record_ID,Physician_Profile_ID,Total_Amount_Invested_USDollars,Value_of_Interest,Terms_of_Interest,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication,Interest_Held_by_Physician_or_an_Immediate_Family_Member,Payment_Publication_Date
0,957788543,835160,0.0,28.13,Investment,"Gynesonics, Inc.",100000216788,"Gynesonics, Inc.",CA,United States,No,Physician Covered Recipient,2024-01-18
1,957789753,40572,50000.0,50000.00,Preferred Stock,"TearOptix, Inc.",100000971876,"TearOptix, Inc.",CA,United States,No,Physician Covered Recipient,2024-01-18
2,957800853,1175626,0.0,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,2024-01-18
3,957800855,229524,0.0,87162292.59,Investment Class A Common Units. Represents t...,MEDLINE INDUSTRIES LP,100000005431,MEDLINE INDUSTRIES LP,IL,United States,No,Immediate family member,2024-01-18
4,957887773,276414,0.0,150935.00,Series A Preferred Stock; Series B Preferred S...,"Calyxo, Inc.",100000786821,"Calyxo, Inc.",CA,United States,No,Physician Covered Recipient,2024-01-18

In [83]:
result = load_dataframe_to_bigquery(Dim_Physician, 'cis_4400_group_3.Dim_Physicians', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 3613

In [84]:
result = load_dataframe_to_bigquery(Dim_Payment_Details, 'cis_4400_group_3.Dim_Payent_Details', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 3916

In [85]:
result = load_dataframe_to_bigquery(fact_ownership_payment, 'cis_4400_group_3.Fact_Ownership_Payments', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 3916

Research Payment

In [86]:
CONNECTION_STRING_AZURE_STORAGE = 'DefaultEndpointsProtocol=https;AccountName=stcis4400spr24;AccountKey=rYko2OP7g7sVhOZyRDr7y+JAdH3ssWiHuFU3So58w0ub02d1REAvapF3LbW4jZKdfBJhgTEEa4wg+AStBaZT1w==;EndpointSuffix=core.windows.net'
CONTAINER_AZURE = 'researchpaymentdata'
#blob_name = ".csv"

#Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string (CONNECTION_STRING_AZURE_STORAGE)
# Get the container client
container_client = blob_service_client.get_container_client (CONTAINER_AZURE)

df_researchpaymentdata = pd.DataFrame()

# List all blobs in the speciffed container
blob_list = container_client.list_blobs ()
for blob in blob_list:
  print (blob.name)
  blob_client = container_client.get_blob_client (blob=blob.name)
  blob_data = blob_client.download_blob()
  blob_content = blob_data.readall().decode('utf-8')
  df = pd.read_csv(StringIO(blob_content))

  print (df.shape)
  df.columns
  df.head()
  df_researchpaymentdata = df.copy()

/content/researchpayment.csv

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6884\3361710944.py:19: DtypeWarning: Columns (18,33,34,35,36,68,75,77,97,98,101,104,105,106,108,109,110,111,112,113,116,122,128,129,133,136,137,138,139,140,141,142,143,144,145,148,154,160,165,168,169,170,172,173,174,175,176,177,180,186,192,208,214,220,226,231,237,238,239) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(blob_content))

(123358, 252)

In [87]:
columns_to_drop = ['Change_Type', 'Teaching_Hospital_CCN', 'Covered_Recipient_NPI',
    'Covered_Recipient_Middle_Name', 'Covered_Recipient_Name_Suffix',
    'Recipient_Primary_Business_Street_Address_Line2', 'Recipient_Province',
    'Recipient_Postal_Code', 'Covered_Recipient_Primary_Type_2',
    'Covered_Recipient_Primary_Type_3', 'Covered_Recipient_Primary_Type_4',
    'Covered_Recipient_Primary_Type_5', 'Covered_Recipient_Primary_Type_6',
    'Covered_Recipient_Specialty_2', 'Covered_Recipient_Specialty_3',
    'Covered_Recipient_Specialty_4', 'Covered_Recipient_Specialty_5',
    'Covered_Recipient_Specialty_6', 'Covered_Recipient_License_State_code1',
    'Covered_Recipient_License_State_code2', 'Covered_Recipient_License_State_code3',
    'Covered_Recipient_License_State_code4', 'Covered_Recipient_License_State_code5',
    'Principal_Investigator_1_NPI', 'Principal_Investigator_1_Middle_Name',
    'Principal_Investigator_1_Name_Suffix', 'Principal_Investigator_1_Business_Street_Address_Line2',
    'Principal_Investigator_1_Province', 'Principal_Investigator_1_Postal_Code',
    'Principal_Investigator_1_Primary_Type_2', 'Principal_Investigator_1_Primary_Type_3',
    'Principal_Investigator_1_Primary_Type_4', 'Principal_Investigator_1_Primary_Type_5',
    'Principal_Investigator_1_Primary_Type_6', 'Principal_Investigator_1_Specialty_2',
    'Principal_Investigator_1_Specialty_3', 'Principal_Investigator_1_Specialty_4',
    'Principal_Investigator_1_Specialty_5', 'Principal_Investigator_1_Specialty_6',
    'Principal_Investigator_1_License_State_code1', 'Principal_Investigator_1_License_State_code2',
    'Principal_Investigator_1_License_State_code3', 'Principal_Investigator_1_License_State_code4',
    'Principal_Investigator_1_License_State_code5', 'Principal_Investigator_2_Covered_Recipient_Type',
    'Principal_Investigator_2_Profile_ID', 'Principal_Investigator_2_NPI',
    'Principal_Investigator_2_First_Name', 'Principal_Investigator_2_Middle_Name',
    'Principal_Investigator_2_Last_Name', 'Principal_Investigator_2_Name_Suffix',
    'Principal_Investigator_2_Business_Street_Address_Line1', 'Principal_Investigator_2_Business_Street_Address_Line2',
    'Principal_Investigator_2_City', 'Principal_Investigator_2_State',
    'Principal_Investigator_2_Zip_Code', 'Principal_Investigator_2_Country',
    'Principal_Investigator_2_Province', 'Principal_Investigator_2_Postal_Code',
    'Principal_Investigator_2_Primary_Type_1', 'Principal_Investigator_2_Primary_Type_2',
    'Principal_Investigator_2_Primary_Type_3', 'Principal_Investigator_2_Primary_Type_4',
    'Principal_Investigator_2_Primary_Type_5', 'Principal_Investigator_2_Primary_Type_6',
    'Principal_Investigator_2_Specialty_1', 'Principal_Investigator_2_Specialty_2',
    'Principal_Investigator_2_Specialty_3', 'Principal_Investigator_2_Specialty_4',
    'Principal_Investigator_2_Specialty_5', 'Principal_Investigator_2_Specialty_6',
    'Principal_Investigator_2_License_State_code1', 'Principal_Investigator_2_License_State_code2',
    'Principal_Investigator_2_License_State_code3', 'Principal_Investigator_2_License_State_code4',
    'Principal_Investigator_2_License_State_code5', 'Principal_Investigator_3_Covered_Recipient_Type',
    'Principal_Investigator_3_Profile_ID', 'Principal_Investigator_3_NPI',
    'Principal_Investigator_3_First_Name', 'Principal_Investigator_3_Middle_Name',
    'Principal_Investigator_3_Last_Name', 'Principal_Investigator_3_Name_Suffix',
    'Principal_Investigator_3_Business_Street_Address_Line1', 'Principal_Investigator_3_Business_Street_Address_Line2',
            'Principal_Investigator_3_City', 'Principal_Investigator_3_State',
'Principal_Investigator_3_Zip_Code', 'Principal_Investigator_3_Country',
'Principal_Investigator_3_Province', 'Principal_Investigator_3_Postal_Code',
'Principal_Investigator_3_Primary_Type_1', 'Principal_Investigator_3_Primary_Type_2',
'Principal_Investigator_3_Primary_Type_3', 'Principal_Investigator_3_Primary_Type_4',
'Principal_Investigator_3_Primary_Type_5', 'Principal_Investigator_3_Primary_Type_6',
'Principal_Investigator_3_Specialty_1', 'Principal_Investigator_3_Specialty_2',
'Principal_Investigator_3_Specialty_3', 'Principal_Investigator_3_Specialty_4',
'Principal_Investigator_3_Specialty_5', 'Principal_Investigator_3_Specialty_6',
'Principal_Investigator_3_License_State_code1', 'Principal_Investigator_3_License_State_code2',
'Principal_Investigator_3_License_State_code3', 'Principal_Investigator_3_License_State_code4',
'Principal_Investigator_3_License_State_code5', 'Principal_Investigator_4_Covered_Recipient_Type',
'Principal_Investigator_4_Profile_ID', 'Principal_Investigator_4_NPI',
'Principal_Investigator_4_First_Name', 'Principal_Investigator_4_Middle_Name',
'Principal_Investigator_4_Last_Name', 'Principal_Investigator_4_Name_Suffix',
'Principal_Investigator_4_Business_Street_Address_Line1', 'Principal_Investigator_4_Business_Street_Address_Line2',
'Principal_Investigator_4_City', 'Principal_Investigator_4_State',
'Principal_Investigator_4_Zip_Code', 'Principal_Investigator_4_Country',
'Principal_Investigator_4_Province', 'Principal_Investigator_4_Postal_Code',
'Principal_Investigator_4_Primary_Type_1', 'Principal_Investigator_4_Primary_Type_2',
'Principal_Investigator_4_Primary_Type_3', 'Principal_Investigator_4_Primary_Type_4',
'Principal_Investigator_4_Primary_Type_5', 'Principal_Investigator_4_Primary_Type_6',
'Principal_Investigator_4_Specialty_1', 'Principal_Investigator_4_Specialty_2',
'Principal_Investigator_4_Specialty_3', 'Principal_Investigator_4_Specialty_4',
'Principal_Investigator_4_Specialty_5', 'Principal_Investigator_4_Specialty_6',
'Principal_Investigator_4_License_State_code1', 'Principal_Investigator_4_License_State_code2',
'Principal_Investigator_4_License_State_code3', 'Principal_Investigator_4_License_State_code4',
'Principal_Investigator_4_License_State_code5', 'Principal_Investigator_5_Covered_Recipient_Type',
'Principal_Investigator_5_Profile_ID', 'Principal_Investigator_5_NPI',
'Principal_Investigator_5_First_Name', 'Principal_Investigator_5_Middle_Name',
'Principal_Investigator_5_Last_Name', 'Principal_Investigator_5_Name_Suffix',
'Principal_Investigator_5_Business_Street_Address_Line1', 'Principal_Investigator_5_Business_Street_Address_Line2',
'Principal_Investigator_5_City', 'Principal_Investigator_5_State',
'Principal_Investigator_5_Zip_Code', 'Principal_Investigator_5_Country',
'Principal_Investigator_5_Province', 'Principal_Investigator_5_Postal_Code',
'Principal_Investigator_5_Primary_Type_1', 'Principal_Investigator_5_Primary_Type_2',
'Principal_Investigator_5_Primary_Type_3', 'Principal_Investigator_5_Primary_Type_4',
'Principal_Investigator_5_Primary_Type_5', 'Principal_Investigator_5_Primary_Type_6',
'Principal_Investigator_5_Specialty_1', 'Principal_Investigator_5_Specialty_2',
'Principal_Investigator_5_Specialty_3', 'Principal_Investigator_5_Specialty_4',
'Principal_Investigator_5_Specialty_5', 'Principal_Investigator_5_Specialty_6',
'Principal_Investigator_5_License_State_code1', 'Principal_Investigator_5_License_State_code2',
'Principal_Investigator_5_License_State_code3', 'Principal_Investigator_5_License_State_code4',
'Principal_Investigator_5_License_State_code5', 'Related_Product_Indicator',
'Covered_or_Noncovered_Indicator_1', 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1',
'Product_Category_or_Therapeutic_Area_1', 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1',
'Associated_Drug_or_Biological_NDC_1', 'Associated_Device_or_Medical_Supply_PDI_1',
'Covered_or_Noncovered_Indicator_2', 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2',
'Product_Category_or_Therapeutic_Area_2', 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2',
'Associated_Drug_or_Biological_NDC_2', 'Associated_Device_or_Medical_Supply_PDI_2',
'Covered_or_Noncovered_Indicator_3', 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3',
'Product_Category_or_Therapeutic_Area_3', 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3',
'Associated_Drug_or_Biological_NDC_3', 'Associated_Device_or_Medical_Supply_PDI_3',
'Covered_or_Noncovered_Indicator_4', 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4',
'Product_Category_or_Therapeutic_Area_4', 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4',
'Associated_Drug_or_Biological_NDC_4', 'Associated_Device_or_Medical_Supply_PDI_4',
'Covered_or_Noncovered_Indicator_5', 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5',
'Product_Category_or_Therapeutic_Area_5', 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5',
'Associated_Drug_or_Biological_NDC_5', 'Associated_Device_or_Medical_Supply_PDI_5',
'Total_Amount_of_Payment_USDollars','Form_of_Payment_or_Transfer_of_Value','Expenditure_Category1', 'Expenditure_Category2',
       'Expenditure_Category3', 'Expenditure_Category4',
       'Expenditure_Category5', 'Expenditure_Category6',
       'Preclinical_Research_Indicator', 'Delay_in_Publication_Indicator',
       'Name_of_Study', 'Dispute_Status_for_Publication',
       'Program_Year', 'Payment_Publication_Date',
       'ClinicalTrials_Gov_Identifier', 'Research_Information_Link',
       'Context_of_Research'     ]
df_researchpaymentdata.drop(columns=columns_to_drop, inplace=True)
df_researchpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123358 entries, 0 to 123357
Data columns (total 32 columns):
 #   Column                                                            Non-Null Count   Dtype
---  ------                                                            --------------   -----
 0   Covered_Recipient_Type                                            123358 non-null  object
 1   Noncovered_Recipient_Entity_Name                                  0 non-null       float64
 2   Teaching_Hospital_ID                                              103083 non-null  float64
 3   Teaching_Hospital_Name                                            103083 non-null  object
 4   Covered_Recipient_Profile_ID                                      20275 non-null   float64
 5   Covered_Recipient_First_Name                                      20275 non-null   object
 6   Covered_Recipient_Last_Name                                       20275 non-null   object
 7   Recipient_Primary_Business_Street_Address_Line1                   123358 non-null  object
 8   Recipient_City                                                    123358 non-null  object
 9   Recipient_State                                                   123356 non-null  object
 10  Recipient_Zip_Code                                                123356 non-null  object
 11  Recipient_Country                                                 123358 non-null  object
 12  Covered_Recipient_Primary_Type_1                                  20275 non-null   object
 13  Covered_Recipient_Specialty_1                                     20275 non-null   object
 14  Principal_Investigator_1_Covered_Recipient_Type                   98576 non-null   object
 15  Principal_Investigator_1_Profile_ID                               98576 non-null   float64
 16  Principal_Investigator_1_First_Name                               98576 non-null   object
 17  Principal_Investigator_1_Last_Name                                98576 non-null   object
 18  Principal_Investigator_1_Business_Street_Address_Line1            98576 non-null   object
 19  Principal_Investigator_1_City                                     98576 non-null   object
 20  Principal_Investigator_1_State                                    98576 non-null   object
 21  Principal_Investigator_1_Zip_Code                                 98576 non-null   object
 22  Principal_Investigator_1_Country                                  98576 non-null   object
 23  Principal_Investigator_1_Primary_Type_1                           98576 non-null   object
 24  Principal_Investigator_1_Specialty_1                              98576 non-null   object
 25  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name         123357 non-null  object
 26  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID       123357 non-null  float64
 27  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name     123357 non-null  object
 28  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State    106577 non-null  object
 29  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country  123357 non-null  object
 30  Date_of_Payment                                                   123357 non-null  object
 31  Record_ID                                                         123357 non-null  float64
dtypes: float64(6), object(26)
memory usage: 30.1+ MB

In [88]:
df_researchpaymentdata = df_researchpaymentdata.dropna(axis=0, how='all')
df_researchpaymentdata = df_researchpaymentdata.dropna(axis=1, how='all')
df_researchpaymentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123358 entries, 0 to 123357
Data columns (total 31 columns):
 #   Column                                                            Non-Null Count   Dtype
---  ------                                                            --------------   -----
 0   Covered_Recipient_Type                                            123358 non-null  object
 1   Teaching_Hospital_ID                                              103083 non-null  float64
 2   Teaching_Hospital_Name                                            103083 non-null  object
 3   Covered_Recipient_Profile_ID                                      20275 non-null   float64
 4   Covered_Recipient_First_Name                                      20275 non-null   object
 5   Covered_Recipient_Last_Name                                       20275 non-null   object
 6   Recipient_Primary_Business_Street_Address_Line1                   123358 non-null  object
 7   Recipient_City                                                    123358 non-null  object
 8   Recipient_State                                                   123356 non-null  object
 9   Recipient_Zip_Code                                                123356 non-null  object
 10  Recipient_Country                                                 123358 non-null  object
 11  Covered_Recipient_Primary_Type_1                                  20275 non-null   object
 12  Covered_Recipient_Specialty_1                                     20275 non-null   object
 13  Principal_Investigator_1_Covered_Recipient_Type                   98576 non-null   object
 14  Principal_Investigator_1_Profile_ID                               98576 non-null   float64
 15  Principal_Investigator_1_First_Name                               98576 non-null   object
 16  Principal_Investigator_1_Last_Name                                98576 non-null   object
 17  Principal_Investigator_1_Business_Street_Address_Line1            98576 non-null   object
 18  Principal_Investigator_1_City                                     98576 non-null   object
 19  Principal_Investigator_1_State                                    98576 non-null   object
 20  Principal_Investigator_1_Zip_Code                                 98576 non-null   object
 21  Principal_Investigator_1_Country                                  98576 non-null   object
 22  Principal_Investigator_1_Primary_Type_1                           98576 non-null   object
 23  Principal_Investigator_1_Specialty_1                              98576 non-null   object
 24  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name         123357 non-null  object
 25  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID       123357 non-null  float64
 26  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name     123357 non-null  object
 27  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State    106577 non-null  object
 28  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country  123357 non-null  object
 29  Date_of_Payment                                                   123357 non-null  object
 30  Record_ID                                                         123357 non-null  float64
dtypes: float64(5), object(26)
memory usage: 29.2+ MB

In [91]:
data_types = {
    'Teaching_Hospital_ID':'string',
    'Covered_Recipient_Profile_ID':'string',
    'Principal_Investigator_1_Profile_ID':'string',
    'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID':'string'
}

for column, dtype in df_researchpaymentdata.dtypes.items():
    if dtype == 'object':
        data_types[column] = 'string'
        
df_researchpaymentdata = df_researchpaymentdata.astype(data_types)

In [92]:
dim_covered_recipients = df_researchpaymentdata[['Covered_Recipient_Profile_ID',
                             'Covered_Recipient_First_Name',
                             'Covered_Recipient_Last_Name', 'Covered_Recipient_Primary_Type_1',
                             'Covered_Recipient_Specialty_1']].drop_duplicates()
dim_covered_recipients.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5161 entries, 0 to 123324
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Covered_Recipient_Profile_ID      5160 non-null   string
 1   Covered_Recipient_First_Name      5160 non-null   string
 2   Covered_Recipient_Last_Name       5160 non-null   string
 3   Covered_Recipient_Primary_Type_1  5160 non-null   string
 4   Covered_Recipient_Specialty_1     5160 non-null   string
dtypes: string(5)
memory usage: 241.9 KB

In [93]:
dim_principal_investigators = df_researchpaymentdata[['Principal_Investigator_1_Profile_ID',
                                  'Principal_Investigator_1_Covered_Recipient_Type',
                                  'Principal_Investigator_1_First_Name',
                                  'Principal_Investigator_1_Last_Name',
                                  'Principal_Investigator_1_Business_Street_Address_Line1',
                                  'Principal_Investigator_1_City',
                                  'Principal_Investigator_1_State',
                                  'Principal_Investigator_1_Zip_Code',
                                  'Principal_Investigator_1_Primary_Type_1',
                                  'Principal_Investigator_1_Specialty_1']].drop_duplicates()
dim_principal_investigators.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12899 entries, 0 to 123357
Data columns (total 10 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Principal_Investigator_1_Profile_ID                     12898 non-null  string
 1   Principal_Investigator_1_Covered_Recipient_Type         12898 non-null  string
 2   Principal_Investigator_1_First_Name                     12898 non-null  string
 3   Principal_Investigator_1_Last_Name                      12898 non-null  string
 4   Principal_Investigator_1_Business_Street_Address_Line1  12898 non-null  string
 5   Principal_Investigator_1_City                           12898 non-null  string
 6   Principal_Investigator_1_State                          12898 non-null  string
 7   Principal_Investigator_1_Zip_Code                       12898 non-null  string
 8   Principal_Investigator_1_Primary_Type_1                 12898 non-null  string
 9   Principal_Investigator_1_Specialty_1                    12898 non-null  string
dtypes: string(10)
memory usage: 1.1 MB

In [94]:
dim_payment_details = df_researchpaymentdata[['Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID',
                          'Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name',
                          'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name',
                          'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
                          'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country']].drop_duplicates()
dim_payment_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 123357
Data columns (total 5 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID       614 non-null    string
 1   Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name         614 non-null    string
 2   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name     614 non-null    string
 3   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State    538 non-null    string
 4   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country  614 non-null    string
dtypes: string(5)
memory usage: 28.8 KB

In [95]:
#Creating Fact Table for Research Payments
fact_table = df_researchpaymentdata[['Covered_Recipient_Profile_ID', 'Teaching_Hospital_ID', 'Date_of_Payment']]

fact_table['Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID'] = df_researchpaymentdata['Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID'].astype(str).str.replace(r'(\d)(?=(\d{3})+(?!\d))', r'\1,')

df_researchpaymentdata['Principal_Investigator_1_Profile_ID'] = pd.to_numeric(df_researchpaymentdata['Principal_Investigator_1_Profile_ID'], errors='coerce').fillna(0)
fact_table['Principal_Investigator_1_Profile_ID'] = df_researchpaymentdata['Principal_Investigator_1_Profile_ID'].round().astype(int)

df_researchpaymentdata['Record_ID'] = pd.to_numeric(df_researchpaymentdata['Record_ID'], errors='coerce').fillna(0)
fact_table['Record_ID'] = df_researchpaymentdata['Record_ID'].round().astype(int)

fact_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123358 entries, 0 to 123357
Data columns (total 6 columns):
 #   Column                                                       Non-Null Count   Dtype
---  ------                                                       --------------   -----
 0   Covered_Recipient_Profile_ID                                 20275 non-null   string
 1   Teaching_Hospital_ID                                         103083 non-null  string
 2   Date_of_Payment                                              123357 non-null  string
 3   Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID  123358 non-null  object
 4   Principal_Investigator_1_Profile_ID                          123358 non-null  int32
 5   Record_ID                                                    123358 non-null  int32
dtypes: int32(2), object(1), string(3)
memory usage: 4.7+ MB

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6884\2119279497.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID'] = df_researchpaymentdata['Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID'].astype(str).str.replace(r'(\d)(?=(\d{3})+(?!\d))', r'\1,')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_6884\2119279497.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['Principal_Investigator_1_Profile_ID'] = df_researchpaymentdata['Principal_Investigator_1_Profile_ID'].round().astype(int)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_6884\2119279497.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_table['Record_ID'] = df_researchpaymentdata['Record_ID'].round().astype(int)

In [96]:
dim_covered_recipients.head()

,Covered_Recipient_Profile_ID,Covered_Recipient_First_Name,Covered_Recipient_Last_Name,Covered_Recipient_Primary_Type_1,Covered_Recipient_Specialty_1
0,<NA>,<NA>,<NA>,<NA>,<NA>
11,286917.0,SATISH,MODI,Medical Doctor,Allopathic & Osteopathic Physicians|Ophthalmology
16,145997.0,ALEKSANDAR,SEKULIC,Medical Doctor,Allopathic & Osteopathic Physicians|Dermatology
21,1266407.0,Jeremy,Heit,Medical Doctor,Allopathic & Osteopathic Physicians|Radiology|...
26,303222.0,BRADLEY,GIEDD,Doctor of Optometry,Eye and Vision Services Providers|Optometrist

In [97]:
dim_payment_details.head()

,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country
0,100000000000.0,Edwards Lifesciences Corporation,Edwards Lifesciences Corporation,CA,United States
1,100000000000.0,Pfizer Inc.,PFIZER INC.,NY,United States
2,100000000000.0,Novo Nordisk AS,Novo Nordisk AS,<NA>,Denmark
4,100000000000.0,"PUMA BIOTECHNOLOGY, INC.","PUMA BIOTECHNOLOGY, INC.",CA,United States
5,100000000000.0,Bristol Myers Squibb Company,"E.R. Squibb & Sons, L.L.C.",NJ,United States

In [99]:
dim_principal_investigators.head()

,Principal_Investigator_1_Profile_ID,Principal_Investigator_1_Covered_Recipient_Type,Principal_Investigator_1_First_Name,Principal_Investigator_1_Last_Name,Principal_Investigator_1_Business_Street_Address_Line1,Principal_Investigator_1_City,Principal_Investigator_1_State,Principal_Investigator_1_Zip_Code,Principal_Investigator_1_Primary_Type_1,Principal_Investigator_1_Specialty_1
0,271700.0,Covered Recipient Physician,KAMAL,KHABBAZ,110 Francis St Ste 2a,Boston,MA,2215,Medical Doctor,Allopathic & Osteopathic Physicians|Thoracic S...
1,45096.0,Covered Recipient Physician,KAREN,ALBRITTON,1500 COOPER ST FL 5,FORT WORTH,TX,76104,Medical Doctor,Allopathic & Osteopathic Physicians|Pediatrics...
2,1146597.0,Covered Recipient Physician,LILY,CHAO,4650 W SUNSET BLVD,LOS ANGELES,CA,90027-6062,Medical Doctor,Allopathic & Osteopathic Physicians|Pediatrics...
3,306715.0,Covered Recipient Physician,PINAK,SHAH,75 Francis St,Boston,MA,2115,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...
4,1100982.0,Covered Recipient Physician,SHIH-HSIN,YANG,800 ROSE ST,LEXINGTON,KY,40536-1801,Medical Doctor,Allopathic & Osteopathic Physicians|Radiology|...

In [98]:
fact_table.head()

,Covered_Recipient_Profile_ID,Teaching_Hospital_ID,Date_of_Payment,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Principal_Investigator_1_Profile_ID,Record_ID
0,<NA>,11351.0,8/22/22,100000000000.0,271700,938593317
1,<NA>,12420.0,7/21/22,100000000000.0,45096,949764147
2,<NA>,12685.0,1/20/22,100000000000.0,1146597,897059301
3,<NA>,11354.0,7/27/22,100000000000.0,306715,938596821
4,<NA>,12305.0,9/19/22,100000000000.0,1100982,922881059

In [100]:
result = load_dataframe_to_bigquery(dim_covered_recipients, 'cis_4400_group_3.Dim_Covered_Recipients', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 5161

In [101]:
result = load_dataframe_to_bigquery(dim_payment_details, 'cis_4400_group_3.Dim_Payment_Details', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 615

In [102]:
result = load_dataframe_to_bigquery(dim_principal_investigators, 'cis_4400_group_3.Dim_Principal_Investigators', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 12899

In [103]:
result = load_dataframe_to_bigquery(fact_table, 'cis_4400_group_3.Fact_Research_Payments', 'cis-4400-group-3', if_exists='replace')
print(result)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Load successful. Total rows in the table now: 123358